@import url(../fonts/custom-fonts.css);
@import url(colors.css);

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
}

body {
    overflow-x: hidden;
}

/*****************************************************************************************/
/***FFONTS SECTION BEGIN******************************************************************/
/*****************************************************************************************/

h1, h2, h3, h4, h5 {
    font-family: Poppins;
    font-weight: bold;
    font-style: italic;
    color: var(--color-02);
}

p {
    font-family: Ubuntu, Arial, sans-serif;
}

a {
    color: var(--color-05);
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: normal;
}

a:hover {
    text-decoration: none;

}

/*****************************************************************************************/
/***FONTS SECTION END*********************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/***GENERAL SECTION BEGIN*****************************************************************/
/*****************************************************************************************/

.circle {
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding-top: 0.2rem;
    margin: 0.5rem;
    transition: 0.2s;
}

.circle:hover {
    transform: scale(1.2);
}

.circle > a {
    text-decoration: none;
}

.dot {
    width: 11px;
    height: 11px;
    margin-right: 0.7rem;
    background-color: var(--color-06);
    border-radius: 50%;
}

.btn {
    background-color: var(--color-04);
    box-shadow: -3px 3px var(--shadow-color-01);
    text-shadow: 1px 1px var(--shadow-color-02);
    border-radius: 10px 15px 10px 15px;
    transform: skew(-20deg);
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--color-05);

}

.btn:hover {
    color: var(--color-05);
    background-color: var(--color-02);
    transform: skew(-20deg);
    
    box-shadow: -5px 5px 5px var(--shadow-color-01);
}

.card-wrapper {
    width: 366px;
    height: 366px;
    position: relative;
}

.card-wrapper .card-background {
    position: absolute;
    top: 0;
    left: 40px;
    background-color: var(--color-05);
    border: solid 1px var(--shadow-color-02);
    border-radius: 35px 45px 35px 45px;
    box-shadow: 2px 4px 3px var(--shadow-color-02);
    width: 280px;
    height: 366px;
    transform: skew(-15deg);
    z-index: 1;
}

.card-wrapper .image-container {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 32px;
    margin-left: -90px;
    border-radius: 50%;
    border: solid 5px var(--color-02);
    overflow: hidden;
    z-index: 2;
}

.card-wrapper .image-container > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-wrapper .image-container > div > img {
    width: 200px;
    height: 200px;
    position: absolute;
    object-fit: cover;
}

.card-description {
    position: absolute;
    padding-top: 0.5rem;
    
    background: var(--purple-gradient-01);
    width: 280px;
    transform: skew(-15deg);
    border-radius: 10px 15px 10px 15px;
    z-index: 5;
    text-align: center;
}

.card-description > h3 {
    color: var(--color-05);
    font-size: 1.4rem;
    font-style: normal;
}

.owl-stage-outer {
    margin-right: -30px;
    margin-left: -10px;
}

@media screen and (max-width: 600px) {
    .owl-stage-outer {
        margin-right: 0;
        margin-left: 0;
    }
}
/*****************************************************************************************/
/***GENERAL SECTION END*******************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/***HEADER SECTION END********************************************************************/
/*****************************************************************************************/

header .main-nav {
    z-index: 10000;
    transition: 0.2s;
}

header .toggler-button{
    color: var(--color-03);
    text-shadow: -1px 1px var(--color-05);
    box-shadow: -1px 1px var(--color-05);
    font-size: 2rem;
    border: solid 2px var(--color-03);
    border-radius: 10px;
}

header .main-nav img {
    transition: 0.2s;
}

header nav ul > li {
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

header nav ul > li > a {
    color: var(--color-02);
    text-shadow: -1px 1px var(--color-05);
}

/*****************************************************************************************/
/***HEADER SECTION END********************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/***HERO SECTION BEGIN********************************************************************/
/*****************************************************************************************/

#hero-section {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#hero-section::before,
#hero-section::after {
    content: "";
    display: block;
    position:absolute;
    width: 45%;
    height: 100vh;
    top: 0;
    transform: skew(-30deg);
    border-radius: 30px 50px 30px 50px;
    background: var(--purple-gradient-03);
    opacity: 0.85;
    z-index: -5;
}

#hero-section::before {
    left: 60%;
}

#hero-section::after {
    left: 80%;  
}

#hero-section > video {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -10;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}



#hero-section .hero-caption {
    margin-top: 15%;
}

#hero-section .hero-caption h1 {
    color: var(--color-05);
    text-shadow: -3px 3px var(--color-01);
    font-size: 4rem;
    text-align: end;
    line-height: 6rem;
}

#hero-section .hero-caption a {
    text-shadow: 2px 2px var(--shadow-color-01);
    font-size: 2rem;
}

#hero-section a.action-btn {
    margin-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

#hero-section .social-box::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 3px;
    top: 50%;
    left: -280px;
    background-color: var(--color-02);
}

#hero-section .social-box .circle {
    background: var(--purple-gradient-01);
    border: solid 1px var(--color-06);

}

#hero-section .social-box .circle > a{
    color: var(--color-05);
}
@media screen and (max-width: 900px){
    #hero-section .hero-caption h1 {
        font-size: 3rem;
    }
}

/*****************************************************************************************/
/***HERO SECTION END**********************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/***BEST SELLERS SECTION BEGIN************************************************************/
/*****************************************************************************************/

#best-sellers .card-wrapper .cart-circle {
    width: 60px;
    height: 60px;
    background: var(--purple-gradient-01);
    border-radius: 50%;
    text-align: center;
    padding-top: 0.9rem;
    position: absolute;
    right: 70px;
    bottom: 120px;
    transition: 0.2s;
    z-index: 3;

}

#best-sellers .card-wrapper .cart-circle:hover {
    transform: scale(1.2);
}

#best-sellers .card-wrapper .cart-circle > a {
    color: var(--color-04);
    font-size: 1.6rem;
    color: var(--color-05);
}

#best-sellers .card-wrapper .card-price {
    position: absolute;
    bottom: 70px;
    right: 165px;
    z-index: 4;
}

#best-sellers .card-wrapper .card-price > p {
    color: var(--color-03);
    font-style: italic;
    font-weight: bold;
    font-size: 1.8rem;
}

#best-sellers .card-wrapper .card-description {
    right: 30px;
    bottom: 30px;
}

/*****************************************************************************************/
/***BEST SELLERS SECTION END**************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/***ABOUT US SECTION BEGIN****************************************************************/
/*****************************************************************************************/

#about-us .about-wrapper {
    position: relative;
    height: 600px;
}

#about-us .about-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 1300px;
    height: 600px;
    left: -150px;
    bottom: 0px;
    background: var(--purple-gradient-02);
    transform: skew(-20deg);
    border-radius: 20px 35px 20px 35px;
    z-index: -1;
}

#about-us .about-wrapper .image-window {
    position: absolute;
    transform: skew(-20deg);
    overflow: hidden;
    width: 375px;
    border-radius: 20px 35px 20px 35px;
    right: -50px;
    bottom: 100px;
}


#about-us .about-wrapper .image-window > img {
    width:auto;
    height: 600px;
    margin-left: -175px;
    transform: skew(20deg);
}

#about-us .item-box {
    position: absolute;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 800px;
    bottom: 60px;
    left: 400px;
    background-color: var(--color-05);
    border: solid 1px var(--shadow-color-02);
    border-radius: 20px 30px 20px 30px;
    box-shadow: 0 5px var(--shadow-color-02);
    transform: skew(-20deg); 

}

#about-us .item-box table {
    transform: skew(20deg);
    margin: 0.5rem 1rem;
}

#about-us .item-box table td {
    padding: 0.5rem;
}

#about-us .item-box table td > p {
    font-size: 1.2rem;
    color: var(--color-01);
    padding-top: 1.3rem;
}

#about-us .item-box table .circle {
    position: relative;
    width: 70px;
    height: 70px;
    background: var(--purple-gradient-03);
}

#about-us .item-box table .circle > img {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 7px;
    left: 7px;
}

#about-us .about-wrapper .about-title {
    position: absolute;
    left: 10%;
    top: 3rem
}

#about-us .about-wrapper .about-title > h1 {
    color: var(--color-05);
}

#about-us .about-wrapper .about-caption {
    position: absolute;
    max-width: 60%;
    min-width: 360px;
    left: 10%;
    top: 7rem;
}



#about-us .about-wrapper .about-caption a.btn {
    background-color: var(--color-05);
    color: var(--color-02);
    margin-top: 3rem;
}

#about-us .about-wrapper .about-caption p {
    line-height: 1.2rem;
    color: var(--color-05);
    font-style: italic;
    margin-top: 2rem;
}

#about-us .about-wrapper .about-caption p > span {
    font-size: 1.5rem;
    font-weight: bolder;
}

/*****************************************************************************************/
/***ABOUT US SECTION END******************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/***SHOP BY CATEGORY SECTION BEGIN********************************************************/
/*****************************************************************************************/

#shop-by-category {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

#shop-by-category .rotated-box {
    transform: rotate(-12deg);
}

#shop-by-category .card-wrapper {
    height: 440px;
    transform: rotate(12deg);
}

#shop-by-category .card-wrapper .shop-card-window {
    position: absolute;
    top: 0;
    right: 20px;
    overflow: hidden;
    width: 280px;
    height: 366px;
    transform: skew(-15deg);
    border-radius: 40px 60px 40px 60px;
    box-shadow: -15px 10px var(--color-01);
}

#shop-by-category .card-wrapper .shop-card-window > img {
    height: 366px;
    width: 380px;
    margin-left: -40px;
    object-fit: cover;
    transition: transform 0.2s;
    transform: skew(15deg);
}

#shop-by-category .card-wrapper .shop-card-window:hover > img {
    transform: scale(1.3) skew(15deg);
    
}

#shop-by-category .card-wrapper .card-description {
    left: -5px;
    bottom: 0px;
}

@media screen and (max-width: 768px) {
    #shop-by-category .rotated-box {
        transform: rotate(0);
    }

    #shop-by-category .card-wrapper {
        transform: rotate(0);
        margin-bottom: 3rem;
    }
}

/*****************************************************************************************/
/***SHOP BY CATEGORY SECTION END**********************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/***TESTIMONIALS SECTION BEGIN************************************************************/
/*****************************************************************************************/
#testimonials {
    margin-top: 8rem;
}


#testimonials .testimonials-carousel-wrapper {
    position: relative;
    width: 360px;
}


#testimonials .testimonials-carousel-wrapper::before,
#testimonials .testimonials-carousel-wrapper::after {
    content: "";
    display: block;
    position:absolute;
    width: 550px;
    height: 130%;
    transform: skew(-30deg);
    border-radius: 20px 20px 0 0;
}

#testimonials .testimonials-carousel-wrapper::before {
    background: var(--purple-gradient-03);
    bottom: -50px;
    left: -100px;
}

#testimonials .testimonials-carousel-wrapper::after {
    background: var(--purple-gradient-04);
    bottom: -50px;
    left: 500px;
}

#testimonials .card-wrapper .card-description {
    right: 30px;
    bottom: 50px;
}

#testimonials .owl-nav {
    color: var(--color-05);
    font-size: 2rem;
    margin-left: 90px;
}

#testimonials .owl-nav .owl-prev,
#testimonials .owl-nav .owl-next {
    transition: 0.2s;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

#testimonials .owl-nav .owl-prev:hover,
#testimonials .owl-nav .owl-next:hover {
    transform: scale(1.3);
}

#testimonials .owl-nav .owl-prev {
    transform: translateX(7px);
}

#testimonials .owl-nav .owl-next {
    transform: translateX(-7px);
}

/*****************************************************************************************/
/***TESTIMONIALS SECTION END**************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/***SUBSCRIBE SECTION BEGIN***************************************************************/
/*****************************************************************************************/

#subscribe{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#subscribe .form-inline input {
    padding: 0.65rem 3rem;
    border-radius: 10px 15px 10px 15px;
    box-shadow: -3px 3px var(--shadow-color-01);
    transform: skew(-20deg);
}




/*****************************************************************************************/
/***SUBSCRIBE SECTION END*****************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/***FOOTER SECTION BEGIN******************************************************************/
/*****************************************************************************************/
footer .footer-top, footer .footer-bottom {
    color: var(--color-05);
}

footer .footer-top {
    background: var(--purple-gradient-01);
}

footer > .footer-top .brand-box {
    width: 250px;
}

footer > .footer-top .brand-box img {
    width: 200px;
}

footer > .footer-top .brand-box .circle {
    background-color: var(--color-05);
}

footer > .footer-top .brand-box .circle > a {
    color: var(--color-01);
}

footer > .footer-top .quick-links-table,
footer > .footer-top .address-table {
    
    text-align: left;
    line-height: 2rem;

}

footer > .footer-top .quick-links-table td,
footer > .footer-top .address-table td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

footer > .footer-top .address-table td > i {
    font-size: 1.7rem;
}

footer > .footer-top .small-title {
    font-style: normal;
    font-size: 1.2rem;
    color: var(--color-05);
}
  

footer .footer-bottom {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--color-01);
}

footer .footer-bottom a > img {
    transition: 0.2s;
}

footer .footer-bottom a:hover > img{
    transform: scale(1.2) translateX(15px);
}

/*****************************************************************************************/
/***FOOTER SECTION END********************************************************************/
/*****************************************************************************************/